* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #989898;
    font-family: sans-serif;
}

/* Fonts */
@font-face {
    font-family: "Norse-Bold";
    src: url(./fonts/Norse-Bold.otf);
    font-weight: normal;
    font-style: normal;
}

/* Styling */
.full-container {
    display: flex;
    flex-direction: row;
    width: 1100px;
    margin: 0 auto;
}

.left-side {
    max-height: 100vh;
    position: relative;
}

.left-side > img {
    max-width: 27vw;
    min-height: 100vh;
    object-fit: cover;
}

.logo-text {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 115px;
    width: 100%;
    top: 170px;
    background-color: #00000080;
}

.logo-text > img {
    max-height: 110px;
    padding: 8px 0;
}

.logo-text > p {
    font: 4.4rem "Norse-Bold";
    padding-bottom: 0;
    color: white;
    height: 3rem;
}

.img-credit {
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 10px;
    color: #ffffffbb;
    font-size: 0.65rem;
}

.img-credit > a:visited,
.img-credit > a:link {
    color: #ffffffbb;
}

.right-side {
    background-color: #F9FAFB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
}

.header-text,
.enticing-text,
.form-header,
.form-row,
.create-account-btn,
.login-prompt {
    margin-left: 40px;
    margin-right: 130px;    
}

.header-text,
.enticing-text,
.form-header {
    font-size: 17px;
    color: #3c3c3c;
}

.header-text {
    margin-bottom: 24px;    
}

.enticing-text {
    margin-bottom: 48px;
}

.form-box {
    box-shadow: 0 10px 10px -10px #aaaaaaaa;
    background-color: #ffffff;
    padding-top: 16px;
    padding-bottom: 18px;
}

.form-header {
    margin-bottom: 12px;
}

.right-side > form {
    background-color: #ffffff;
}

.form-row {
    display: flex;
    gap: 54px;
}

.form-element {
    display: flex;
    flex-direction: column;
    margin: 8px 0;
}

.form-element > label {
    font-size: 9px;
    letter-spacing: 1.5px;
    margin-bottom: 1.5px;
    color: #4f4f4f;
}

.form-element > input {
    width: 200px;
    height: 24px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"] {
    font-size: 12px;
    padding-left: 6px;
    border: 1px solid #bbbbbb90;
    border-radius: 3px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="password"]:focus {
    outline: 1px solid blue;
    box-shadow: 1px 1px 1px 1px #aaaaaaaa;
}

#password-match {
    height: 10px;
    font-size: 10px;
    font-weight: normal;
    color: #B91C1C;
}

.password-red-outline {
    outline: 1px solid #B91C1C;
}

.create-account-btn {
    background-color: #596D48;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    width: 180px;
    height: 38px;
    margin-top: 26px;
    margin-bottom: 30px;
}

.create-account-btn:hover {
    background-color: #596D4890;
}

.create-account-btn:active {
    background-color: #596D4880;
}

.login-prompt {
    font-weight: normal;
    font-size: 14px;
}

.login-link {
    font-weight: bold;
    text-decoration: none;
}

.login-link, .login-link:link, .login-link:visited {
    color: #596D48;
}

.login-link:hover {
    color: #596D4890;
}

.login-link:active {
    color: #596D4880;
}